/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html{
  background-color: #fff000; 
}

#container{
  width: 900px;
  margin: 0 auto;
}

#container a{
  text-decoration: none;
}

#head{
  clear: both;
  text-align: center;
}

#head p{
  text-align: left;
}

#leftmenu{
  float: left;
  margin-right: 20px; 
  border: 1px solid #000000;
  padding: 5px 10px 5px 20px;
}

#menu{
  float: left;
  
}
